.ectz .ectz-switch {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
}
.ectz .ectz-switch:hover .ectz-switch__toggle {
  background-color: #707070;
}
.ectz .ectz-switch:hover .ectz-switch__input:checked ~ .ectz-switch__toggle {
  background-color: #222d65;
}
.ectz .ectz-switch.ectz-error .ectz-switch__toggle {
  background-color: #d4351c;
}
.ectz .ectz-switch.ectz-error .ectz-switch__label {
  color: #d4351c;
}
.ectz .ectz-switch__input {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}
.ectz .ectz-switch__label {
  color: #0b0c0c;
  font-size: 0.75rem;
  font-weight: 520;
  line-height: 1.25rem;
  margin-inline-end: 0.75rem;
}
.ectz .ectz-switch__toggle {
  background-color: #949499;
  border-radius: 9999px;
  height: 1.5rem;
  position: relative;
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
    transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 2.75rem;
}
.ectz .ectz-switch__toggle:after {
  background-color: #fff;
  border-color: #fff;
  border-radius: 9999px;
  border-width: 1px;
  content: '';
  height: 1.25rem;
  inset-inline-start: 2px;
  position: absolute;
  top: 2px;
  transform: translate(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 1.25rem;
}
.ectz .ectz-switch__input:focus ~ .ectz-switch__toggle {
  box-shadow:
    0 0 0 0 #fff,
    0 0 0 4px rgba(47, 62, 139, 0.5),
    0 0 #0000;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.ectz .ectz-switch__input:checked ~ .ectz-switch__toggle {
  background-color: #2f3e8b;
}
.ectz .ectz-switch__input:checked ~ .ectz-switch__toggle:after {
  border-color: #fff;
  content: '';
  transform: translate(100%) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
.ectz .ectz-switch__input:disabled ~ .ectz-switch__toggle {
  background-color: #ced0d1;
  cursor: not-allowed;
}
