# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret

#oAuth
AUTH_SECRET=""
AUTH_GITHUB_ID="Iv23lihxGUQ9gTLeDJMv"
AUTH_GITHUB_SECRET=""

#AI
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GOOGLE_GENERATIVE_AI_API_KEY=""    

#Public
NEXT_PUBLIC_GITHUB_API_URL="https://api.github.com"
NEXT_PUBLIC_GITHUB_USER="Front-end-Technologies"
NEXT_PUBLIC_GITHUB_REPO="front-end-accelerator"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

