.ectz .ectz-heading--xl {
  font-size: 3rem;
  line-height: 1;
  line-height: 3.125rem;
}
.ectz .ectz-heading--lg {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.ectz .ectz-heading--md {
  font-size: 1.5rem;
  line-height: 1.875rem;
}
