.ectz .ectz-hero {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  width: 100%;
}
@media (min-width: 1024px) {
  .ectz .ectz-hero {
    flex-direction: row;
  }
}
.ectz .ectz-hero__title-box {
  background-color: #2f3e8b;
  border-radius: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
  max-width: 100%;
  padding: 3rem;
  width: 100%;
}
@media (min-width: 1024px) {
  .ectz .ectz-hero__title-box {
    max-width: 34.5rem;
    min-height: 11.625rem;
  }
}
.ectz .ectz-hero__visual-wrapper {
  border-radius: 1rem;
  min-height: 13rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media (min-width: 1024px) {
  .ectz .ectz-hero__visual-wrapper {
    min-height: 0;
  }
}
.ectz .ectz-hero__visual {
  height: 100%;
  left: 0;
  max-height: 12rem;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (min-width: 1024px) {
  .ectz .ectz-hero__visual {
    max-height: 22.875rem;
  }
}
.ectz .ectz-hero__search-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ectz .ectz-hero__search-input-wrapper {
  align-items: center;
  background-color: #fff;
  border-radius: 9999px;
  display: flex;
  height: 4.25rem;
  justify-content: space-between;
  padding: 0.375rem 0.375rem 0.375rem 2rem;
}
.ectz .ectz-hero__search-input {
  background-color: #fff;
  color: #2f3e8b;
  font-weight: 320;
  height: 100%;
  outline: 2px solid transparent;
  outline-offset: 2px;
  width: 100%;
}
.ectz .ectz-hero__search-input::placeholder {
  color: #505a5f;
}
